<!doctype html>
<html lang="en">
  <head>
    <metacharset="UTF-8">
      <title>Lumon flask</title>
</meta>
</head>
<form action="/" method="post">
  <label form="q">Buscar : </label><input type="text" name="q" id="q" value="{{q}}">
  <input type="submit" value="search">
  {% for resp in response %}
  <p>
  <p>{{resp}}</p>

  {% endfor %}

</form>
<body>
  <p>el3ctron!</p>
</body>
</html>
